requests==2.27.1
python-telegram-bot==13.13
logging3==0.0.2
urllib3==1.26.8
beautifulsoup4==4.10.0
pdf2image==1.14.0
pytz==2021.3
feedparser==6.0.1
xlrd==1.2.0
pandas==1.1.5
WeasyPrint==51
Flask==1.1.2
